# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
.env

# Virtual environment
.venv/
venv/
env/

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Database files (if using SQLite locally)
*.db
*.sqlite3

# Mac / Linux system files
.DS_Store
*.swp
